<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400:500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
  <header class="header">
    <div class="container">
      <div id="header__nav" class="header__inner">
        <div data-menuanchor="top">
          <a class="logo" href="#top">
            <picture class="logo__img">
              <source srcset="images/logo-mobile.png" media="(max-width: 640px)">
              <img src="images/logo.png" alt="">
            </picture>
          </a>
        </div>

        <nav class="menu">
          <button class="menu__btn">
            <span class="menu__btn-line"></span>
          </button>
          <ul class="menu__list">
            <li class="menu__list-item" data-menuanchor="products">
              <a class="menu__list-link" href="#products">ABOUT US</a>
            </li>
            <li class="menu__list-item" data-menuanchor="benefits">
              <a class="menu__list-link" href="#benefits">ПРЕИМУЩЕСТВА</a>
            </li>
            <li class="menu__list-item" data-menuanchor="specification">
              <a class="menu__list-link" href="#specification">ХАРАКТЕРИСТИКИ</a>
            </li>
            <li class="menu__list-item" data-menuanchor="faq">
              <a class="menu__list-link" href="#faq">ВОПРОСЫ</a>
            </li>
            <li class="menu__list-item" data-menuanchor="contacts">
              <a class="menu__list-link" href="#contacts">КОНТАКТЫ</a>
            </li>
            <li class="menu__list-phone">
              <a class="heder__phone-menu" href="0547896866">+(972)547-896-866</a>
            </li>
          </ul>
        </nav>

        <div class="header__info">
          <button class="header__btn">order</button>
          <a class="heder__phone" href="0547896866">+(972)547-896-866</a>
        </div>
      </div>
    </div>
  </header>

  <div id="fullpage">

    <section data-menuanchor="top" class="page-section top">
      <div class="page-section__wrapper top__wrapper">
        <div class="container">
          <div class="top__inner">
            <h1 class="top__title">Nail-studio</h1>
            <p class="top__text">
              Квадрокоптер Dji Mavic 2 Pro
              с профессиональной камерой Hasselblad
            </p>
            <ul class="top__social-list">
              <li class="top__social-item">
                <a href="https://www.facebook.com/nivnails" class="top__social-link">
                  <img src="images/facebook.svg" alt="">
                </a>
              </li>
              <li class="top__social-item">
                <a href="#" class="top__social-link">
                  <img src="images/youtube.svg" alt="">
                </a>
              </li>
              <li class="top__social-item">
                <a href="https://instagram.com/nails_rishon_israel?igshid=YmMyMTA2M2Y=" class="top__social-link">
                  <img src="images/instagram.svg" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="scroll-btn">
          <a href="#products">
            <img src="images/arrow-down.svg" alt="">
          </a>
        </div>
      </div>
    </section>



    <section data-menuanchor="products" class="page-section products">
      <div class="page-section__wrapper">
        <div class="container">
          <h3 class="title products__title">About us</h3>

          <div class="products__inner">
            <div class="products__text">
              <p>Nail-studio</p>
              <p>054-789-686</p>
              <p>Attractive and up-to-date skin care gallery,
                offering boutique services and relaxing spa treatments for hand and foot care,</p>
              <p>A design idea was created in the nail gallery, which gives everyone the opportunity to touch the
                beauty.</p>
              <p>The good news is to bring culture of hand and foot care across the country close to your home.
                Along with service experience and professionalism, as a basis - to keep you and your nails in perfect
                condition without having to travel far.
                Our experts are close to you.
                There is no limit to imagination and creativity.
                In the highest quality products from the world's leading skin care companies, as well as a variety of
                treatments.</p>
              <p>It remains only to imagine how your nails will look.
                ___________________________
              </p>
              <p>We work with the products of leading companies on the market, such as: ESSIE, O.P.I and others.</p>
            </div>
            <div class="products__slider-box">
            
              <div class="products__slider">
                <div class="products__slider-item">
                  <img class="products__slider-img" src="images/products__slider-1.jpg" alt="">
                  <p class="products__slider-text">
                    Лучшая беспилотная
                    технология аэросъемки</p>
                </div>
                <div class="products__slider-item">
                  <img class="products__slider-img" src="images/products__slider-2.jpg" alt="">
                  <p class="products__slider-text">
                    Лучшая беспилотная
                    технология аэросъемки</p>
                </div>
                <div class="products__slider-item">
                  <img class="products__slider-img" src="images/products__slider-3.jpg" alt="">
                  <p class="products__slider-text">
                    Лучшая беспилотная
                    технология аэросъемки</p>
                </div>
                <div class="products__slider-item">
                  <img class="products__slider-img" src="images/products__slider-4.jpg" alt="">
                  <p class="products__slider-text">
                    Лучшая беспилотная
                    технология аэросъемки</p>
                </div>
                <div class="products__slider-item">
                  <img class="products__slider-img" src="images/products__slider-5.jpg" alt="">
                  <p class="products__slider-text">
                    Лучшая беспилотная
                    технология аэросъемки</p>
                </div>
                <div class="products__slider-item">
                  <img class="products__slider-img" src="images/products__slider-6.jpg" alt="">
                  <p class="products__slider-text">
                    Лучшая беспилотная
                    технология аэросъемки</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="scroll-btn">
          <a href="#benefits">
            <img src="images/arrow-down.svg" alt="">
          </a>
        </div>
      </div>
    </section>



    <section data-menuanchor="benefits" class="page-section benefits">
      <div class="page-section__wrapper">
        <div class="container">
          <h3 class="title">benefits</h3>
          <div class="benefits__items">

            <div class="benefits__item">
              <div class="benefits__num">1</div>
              <div class="benefits__img">
                <img src="images/benefits-1.jpg" alt="">
              </div>
              <div class="benefits__info">
                <h4 class="benefits__info-title">
                  Интеллектуальные
                  режимы
                </h4>
                <p class="benefits__info-text">
                  Mavic 2 унаследовал 6 стандартных режимов интеллектуальной съемки
                  QuickShot: Roket/Dronie/Circle/Helix/Boomerang/Asteroid.
                </p>
              </div>
            </div>

            <div class="benefits__item">
              <div class="benefits__num">2</div>
              <div class="benefits__img">
                <img src="images/benefits-2.jpg" alt="">
              </div>
              <div class="benefits__info">
                <h4 class="benefits__info-title">
                  Active Track 2.0
                </h4>
                <p class="benefits__info-text">
                  Усовершенствованный режим второго поколения распознаёт и отслеживает объекты ещё точнее, быстрее и
                  умнее.
                </p>
              </div>
            </div>

            <div class="benefits__item">
              <div class="benefits__num">3</div>
              <div class="benefits__img">
                <img src="images/benefits-3.jpg" alt="">
              </div>
              <div class="benefits__info">
                <h4 class="benefits__info-title">
                  Панорамная съемка
                </h4>
                <p class="benefits__info-text">
                  Mavic 2 поддерживает 4 режима панорамной съёмки: сферическая, 180 градусов, горизонтальная,
                  вертикальная
                </p>
              </div>
            </div>

            <div class="benefits__item">
              <div class="benefits__num">4</div>
              <div class="benefits__img">
                <img src="images/benefits-4.jpg" alt="">
              </div>
              <div class="benefits__info">
                <h4 class="benefits__info-title">
                  Крутая камера!
                </h4>
                <p class="benefits__info-text">
                  Технология Hyperlapse в четырёх режимах исполнения. Улучшенный фото режим HDR Функция HyperLight для
                  съёмки в условиях слабого освещения 4К съёмка
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="scroll-btn">
          <a href="#specification">
            <img src="images/arrow-down.svg" alt="">
          </a>
        </div>
      </div>
    </section>



    <section data-menuanchor="specification" class="page-section specification">
      <div class="page-section__wrapper">
        <div class="container">
          <h3 class="title">specification</h3>
          <div class="specification__inner">
            <div class="specification__item">
              <div class="specification__box specification__box-1">
                <h4 class="specification__box-title">Dlog-M 10 бит</h4>
                <p class="specification__box-text">
                  Mavic 2 Pro поддерживает цветовой профиль Dlog-M 10 бит с более широким динамическим диапазоном,
                  дающим
                  больше возможностей для цветокоррекции.
                </p>
              </div>

              <div class="specification__box specification__box-2">
                <h4 class="specification__box-title">Камера Hasselblad</h4>
                <p class="specification__box-text">
                  Камера Hasselblad L1D-20С
                  известны эргономичным дизайном
                  и превосходным качеством изображений.
                </p>
              </div>
            </div>

            <div class="specification__item specification__item--center">
              <img src="images/mavic.png" alt="">
            </div>

            <div class="specification__item">
              <div class="specification__box specification__box-3">
                <h4 class="specification__box-title">Матрица CMOS 1</h4>
                <p class="specification__box-text">
                  Зона активной работы новой 1-дюймовой матрицы CMOS в четыре раза превышает показатели Mavic Pro
                </p>
              </div>

              <div class="specification__box specification__box-4">
                <h4 class="specification__box-title">Видео HDR</h4>
                <p class="specification__box-text">
                  Благодаря поддержке видео 4K HDR 10 бит, Mavic 2 Pro можно подсоединить к совместимому с HLG 4K ТВ и
                  просматривать запись в полном цветовом спектре
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="scroll-btn">
          <a href="#faq">
            <img src="images/arrow-down.svg" alt="">
          </a>
        </div>
      </div>
    </section>



    <section data-menuanchor="faq" class="page-section faq">
      <div class="page-section__wrapper">
        <div class="container">
          <h3 class="title title__faq">FAQ</h3>
          <div class="faq__items">
            <div class="faq__item faq__item--active">
              <h4 class="faq__item-title">Какие отличия между Mavic 2 Pro и Mavic 2 Zoom?</h4>
              <p class="faq__item-text">В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала,
                полётное
                время, скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные
                функции
                и
                уникальная функция Hyperlapse (гиперлапс).
              </p>
            </div>

            <div class="faq__item">
              <h4 class="faq__item-title">Чем Mavic 2 лучше Mavic Pro? </h4>
              <p class="faq__item-text">В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала,
                полётное
                время, скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные
                функции
                и
                уникальная функция Hyperlapse (гиперлапс).
              </p>
            </div>

            <div class="faq__item">
              <h4 class="faq__item-title">Можно ли подключить Mavic 2 к очкам DJI Goggles?</h4>
              <p class="faq__item-text">В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала,
                полётное
                время, скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные
                функции
                и
                уникальная функция Hyperlapse (гиперлапс).
              </p>
            </div>

            <div class="faq__item">
              <h4 class="faq__item-title">Является ли Mavic 2 водонепроницаемым？</h4>
              <p class="faq__item-text">В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала,
                полётное
                время, скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные
                функции
                и
                уникальная функция Hyperlapse (гиперлапс).
              </p>
            </div>
          </div>
        </div>
        <div class="scroll-btn">
          <a href="#contacts">
            <img src="images/arrow-down.svg" alt="">
          </a>
        </div>
      </div>
    </section>




    <section data-menuanchor="contacts" class="page-section contacts">
      <div class="page-section__wrapper">
        <div class="container">
          <h3 class="title">CONTACTS</h3>
          <div class="contacts__inner">
            <div class="contacts__info">
              <div class="contacts__info-box">
                <p class="contacts__info-title">Rishon Le Zion</p>
                <a class="contacts__info-phone" href="tel:+972547896866">(+972) 54 789 6866</a>
                <a class="contacts__info-email" href="mailto:sim609060@gmail.com">sim609060@gmail.com</a>
              </div>

              <div class="contacts__info-box">
                <p class="contacts__info-title">Rishon Le Zion</p>
                <a class="contacts__info-phone" href="tel:+972547896866">(+972) 54 789 6866</a>
                <a class="contacts__info-email" href="mailto:sim609060@gmail.com">sim609060@gmail.com</a>
              </div>

              <div class="contacts__info-box">
                <p class="contacts__info-title">Rishon Le Zion</p>
                <a class="contacts__info-phone" href="tel:+972547896866">(+972) 54 789 6866</a>
                <a class="contacts__info-email" href="mailto:sim609060@gmail.com">sim609060@gmail.com</a>
              </div>
            </div>

            <div class="contacts__form">
              <form th:action="@{/form_to_email}" method="post">
                <h4 class="contacts__form-title">more questions?</h4>
                <p class="contacts__form-text">Мы обязательно свяжемся с вами в течение двух рабочих дней</p>
                <div class="contacts__form-line">
                  <input class="contacts__form-input" name="name"  placeholder="Ваше имя" type="text">
                  <input class="contacts__form-input" name="email" placeholder="Ваше e-mail" type="email">
                </div>
                <textarea class="contacts__form-textarea" name="textToEmail" placeholder="Что вас интересует?"></textarea>
                <button class="contacts__form-btn" type="submit">SEND</button>
              </form>
            </div>

            <ul class="contacts__social-list">
              <li class="contacts__social-item">
                <a href="#" class="contacts__social-link">
                  <img src="images/facebook.svg" alt="">
                </a>
              </li>
              <li class="contacts__social-item">
                <a href="#" class="contacts__social-link">
                  <img src="images/youtube.svg" alt="">
                </a>
              </li>
              <li class="contacts__social-item">
                <a href="#" class="contacts__social-link">
                  <img src="images/instagram.svg" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="scroll-btn">
          <div data-menuanchor="top">
            <a href="#top">
              <img class="footer-arrow-up" src="images/arrow-down.svg" alt="">
            </a>
          </div>
        </div>
        <footer class="footer">
          <div class="container">
            <p class="footer__copy">
              © R&A, 2022
            </p>
          </div>
        </footer>
      </div>
    </section>

  </div>









  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="js/libs.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>